.container
  footer
    p
      | Built with ❤ for 
      a(href='http://www.chattanooga.gov/') CHA 
      | by 
      a(href='http://openchattanooga.com') Open Chattanooga
      | .
      br
      a(href='https://github.com/openchattanooga/chadocs') Fork this project on GitHub!
