doctype html
html
  head
    title= title
    link(href='http://fonts.googleapis.com/css?family=Open+Sans', rel='stylesheet', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 chadocs
    block content
    include ./includes/footer.jade
